Testing for a Value with in
---------------------------

In [7]:
avengers = ['ironman', 'captian america', 'thor', 'captian marvel', 'black panther',]
is_superman_avenger = 'superman' in avengers
print(is_superman_avenger)
is_tony_stark_avenger = 'ironman' in avengers
print(is_tony_stark_avenger)

False
True

Count Occurences Of a Value with count()
----------------------------------------

In [8]:
pets = ['cat', 'dog', 'goat', 'rabbit', 'fish', 'cow', 'horse','cat',]
count_of_cat = pets.count('cat')
count_of_horse = pets.count('horse')
print(f"cat count = {count_of_cat} horse count = {count_of_horse} ")

cat count = 2 horse count = 1

String to List and List to String
---------------------------------

In [9]:
cars_make = [ 'suzuki', 'hyundai', 'kia', 'tata', 'nissan', 'mahindra', 'renault', 'ford', 'honda' ]

cars_as_single_string = ', '.join(cars_make)
print(cars_as_single_string)

suzuki, hyundai, kia, tata, nissan, mahindra, renault, ford, honda

In [10]:
# string to a list
electronics = 'tv,ipad,iphone,alexa,refrigirator,microwave oven, ac'
electronics_list = electronics.split(',')
print(electronics_list)

['tv', 'ipad', 'iphone', 'alexa', 'refrigirator', 'microwave oven', ' ac']

In [11]:
csv_header = 'name  mobile  address'
header_list = csv_header.split()
print(header_list)

['name', 'mobile', 'address']